$breakpoint: (
    'm': '1024px',
    'l': '1200px',
    'xl': '1600px',
);

@mixin breakpoint($size) {
    @media (max-width: map-get($breakpoint, $size)) {
        @content;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.checkout {
    display: flex;
    padding: 0 25rem;
    margin: 0 0 5rem 0;
    position: relative;

    color: black;
    background: #f8f8f8;

    .checkout-form {
        width: 65%;
        margin: 0 1rem 0 0;

        .checkout-form-title {
            display: flex;
            align-items: center;
            height: 5rem;

            .title-num {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;

                background: black;
                color: white;

                margin: 0 0 0 -2.5rem;
            }

            h3 {
                font-size: 1rem;
                text-transform: uppercase;

                margin: 0 0 0 1rem;

                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 1.25rem;
                    margin: 0 0 0 1rem;
                }
            }
        }

        form {
            .form-input {
                width: 100%;
                height: 5.25rem;
                border-radius: 0.2rem;
                background: white;
                position: relative;
                margin: 0 0 2rem 0;

                box-shadow: 0px 2px 1px #dcdcdc;
            }

            label {
                position: absolute;
                top: 0.5rem;
                left: 1rem;

                font-size: 1rem;
            }

            select {
                width: 90%;
            }

            input {
                width: 80%;
            }

            input,
            select {
                position: absolute;
                top: 2.5rem;
                left: 1rem;
                padding: 0;

                font-size: 1.25rem;
                border-radius: 0.2rem;
                background: white;
                outline: none;
                border: none;
            }

            .form-row {
                display: flex;
                justify-content: space-between;
                width: 100%;

                margin: 0 0 2rem 0;

                .form-input-row {
                    width: 49%;
                    height: 5.25rem;
                    border-radius: 0.2rem;
                    background: white;
                    position: relative;

                    box-shadow: 0px 2px 1px #dcdcdc;
                }
            }

            .card-img {
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);

                border: 1px solid #dcdcdc;
                border-radius: 0.2rem;

                padding: 0.3rem;

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 2rem;
                    height: auto;
                }
            }

            .code-info {
                width: 1.5rem;
                height: 1.5rem;

                color: #dcdcdc;
                border: 1px solid #dcdcdc;
                border-radius: 50%;

                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
            }

            .error {
                border: 2px solid rgb(214, 84, 84);
            }

            .pass {
                border: 2px solid rgb(84, 214, 91);
            }
        }

        button {
            width: 100%;
            height: 5.25rem;
            margin: 4rem 0 0 0;

            background: #6bd400;
            outline: none;
            border: none;

            color: white;
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 1rem;
            font-weight: 900;
            text-transform: uppercase;
            border-radius: 0.2rem;
            box-shadow: 0px 2px 1px #5cb204;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 1.25rem;
                margin: 0 1rem 0 0;
            }
        }

        .validation-info {
            width: 100%;
            margin: 2rem 0 0 0;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .checkout-order {
        width: 35%;
        height: 25rem;

        background: white;
        border-radius: 0.2rem;
        box-shadow: 0px 2px 1px #dcdcdc;
        padding: 1rem;
        margin: 5rem 0 0 1rem;

        .checkout-order-box {
            border: 2px dotted #dcdcdc;
            border-radius: 0.2rem;

            h3 {
                font-size: 1rem;
                text-transform: uppercase;

                margin: 1rem 0 2rem 1.25rem;
            }

            .order-products,
            .order-sum {
                margin: 0 1.25rem 1rem 1.25rem;
                border-bottom: 2px dotted #dcdcdc;

                .order-row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .order-total-row {
                display: flex;
                justify-content: space-between;

                margin: 0 1.25rem 1rem 1.25rem;

                .total-price {
                    font-size: 2rem;
                }
            }
        }
    }

    @include breakpoint(xl) {
        padding: 0 10rem;
    }

    @include breakpoint(l) {
        padding: 0 5rem;
    }

    @include breakpoint(m) {
        flex-direction: column-reverse;

        .checkout-form {
            width: 100%;
        }

        .checkout-order {
            width: 100%;
            margin: 5rem 0 5rem 0;
        }
    }
}
